.stalker-cat_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.stalker-cat_header-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url("/src/assets/icon/british-shorthair-cat.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
}

.stalker-cat_header_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stalker-cat_header_form  input{
  margin-right: 10px;
  padding: 5px;
  width: 30px;
  font-size: 14px;
}

.stalker-cat_header_form button{
  padding: 5px ;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
}
